language = "nodejs"
run = "npm start"
entrypoint = "app.js"

[nix]
channel = "stable-23_11"

[env]
NODE_ENV = "production"
AUTO_START_STREAM = "true"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[languages.javascript]
pattern = "**/*.js"
syntax = "javascript"

[languages.javascript.languageServer]
start = [ "typescript-language-server", "--stdio" ]

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"
